<div class="tasks-container">
    <form #addTaskForm="ngForm" (submit)="addTask(addTaskForm)">
        <input 
            type="text"
            name="inputTask"
            placeholder="Enter task..."
            class="task-input"
            [(ngModel)]="inputTask"
            autocomplete="off"
        />
        <input type="submit" value="Add Task" class="task-submit"/>
    </form>
    <div *ngFor="let task of tasks; let i = index;" class="task {{ (task.completed ? 'done' : '') }}">
        <div class="id">{{ i }}</div>
        <div class="content" (click)="toggleDone(i)" > {{ task.content }}</div>
        <button class="delete" (click)="deleteTask(i)">Remove</button>
    </div>
</div>
 